@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --primary-color: #1FC132;
  --secondary-color: rgb(62, 186, 201);
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  
}

.bg-\[\#C1ED0B\] {
  background-color: var(--primary-color);
}

.to-\[\#9333ea\] {
  color: var(--primary-color);
}

.from-\[\#C1ED0B\], .from-\[\#C1ED0B\], .to-\[\#C1ED0B\], .bg-\[\#C1ED0B\] {
  --tw-gradient-from: none;
  background-color: var(--primary-color);
  color: white;
}

.text-\[\#C1ED0B\] {
  color: var(--primary-color);
}

.hover\:shadow-\[\#C1ED0B\]\/50:hover,
.hover\:shadow-\[\#9333ea\]\/50:hover {
  --tw-shadow-color: rgb(31 193 50 / 0.5) !important;
}